@model Customer

@{
    ViewData["Title"] = "Batteries";
    var k = ViewBag.batteries;
    
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Batteries</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table id="productTable" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Battery ID</th>
                        <th>Battery Type</th>
                        <th>Battery Status</th>
                        <th>Date of Commissioning</th>
                        <th>Date of Last Inspection</th>
                        <th>Certificate of Operations</th>
                        <th>Information</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>

                    @* // Will use the ViewBag method to get each of the following component *@
                    @foreach(var battery in k )
                        {
                            <tr>
                                <td>@battery.Id</td>
                                <td>@battery.batteryType</td>
                                <td>@battery.batteryStatus</td>
                                <td>@battery.dateOfCommissioning</td>
                                <td>@battery.dateOfLastInspection</td>
                                <td>@battery.certificateOfOperations</td>
                                <td>@battery.information</td>
                                <td>@battery.notes</td>
                            </tr>
                        }
                </tbody>   
            </table>
        </div>
    </div>
</div>

@* <div class="text-center">
    <h1 class="display-4">Product management</h1>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Batteries
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Header1</th>
                                <th>Header2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Columns
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Header1</th>
                                <th>Header2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                            <tr>
                                <td>Data1</td>
                                <td>Data2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Elevators
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <table id="productTable" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Elevator ID</th>
                                <th>Serial Number</th>
                                <th>Elevator Model</th>
                                <th>Elevator Type</th>
                                <th>Elevator Status</th>
                                <th>Date of Commissioning</th>
                                <th>Date of Last Inspection</th>
                                <th>Certificate of Iperation</th>
                                <th>Information</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @foreach (var elevator in Model.Building.SelectMany(b => b.batteries.SelectMany(c => c.columns.SelectMany(e => e.elevators))))
                            {
                            } *@

                        @* </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>
        See the details of the different products purchased from us: batteries, columns and elevators.
    </p>
    <p>
        You can also modify your personal information, such as addresses or contact details.
    </p> *@
@* </div> *@ 

    